.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
Test1/Test1.pde
Rotate_ak/data/2016-12-15_T187_L001_PosDat.csv
Rotate_ak/data/2016-12-15_T189_L001_PosDat.csv
Rotate_ak/data/2016-12-15_T188_L001_PosDat.csv
Rotate_ak/data/2016-12-15_T190_L001_PosDat.csv
Rotate_ak/data/2016-12-15_T192_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T071_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T072_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T073_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T074_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T075_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T076_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T078_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T077_L001_PosDat.csv
Rotate_ak/data/2016-12-02_T079_L001_PosDat.csv
Rotate_ak/data/list_727463
*.csv
Rotate_ak/data/list_727463
